{% extends 'base.html' %}
{% block content %}
</br>
<h1>Información del Cliente:</h1>
</br>

<div class="card">
    <div class="card-header"><strong>
        {{customer_cliente.nombre}} {{customer_cliente.apellido}}</strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>ID: </strong>{{customer_cliente.id}}</br>
            <strong>País: </strong>{{customer_cliente.pais}}</br> 
            <strong>Ciudad: </strong>{{customer_cliente.ciudad}}</br> 
            <strong>Número: </strong>{{customer_cliente.numero}}</br> 
            <strong>Correo: </strong>{{customer_cliente.correo}}</br> 
            <strong>Fecha de Creación: </strong>{{customer_cliente.created_at}}</br> 
        </p>
    </div>
  </div>
<br><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Atrás</a>
<a href="{% url 'home' %}" class="btn btn-danger">Borrar</a>
{% endblock %}