{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Clientes</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">País</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Número</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de Creación</th>
      </tr>
    </thead>
    <tbody>
        
{% if clientes %}

    {% for cliente in clientes %}
        <tr>
            <td><a href="{% url 'cliente' cliente.id%}">{{cliente.id}}</a></td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.pais}}</td>
            <td>{{cliente.ciudad}}</td>
            <td>{{cliente.numero}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.created_at}}</td>
        </tr>
    {% endfor %}
        
{% endif %}
            </tbody>
        </table>

{% else %}


<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method = "POST" action = "{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="Username" required>  
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

</form>


{% endif %}
{% endblock %}